@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
:root{
  
--colorPrimario: #003B95;
--colorSecundario: #006CE4;
--colorTerciario: #EB00FF; 
--colorPrecios: #008234;
--colorFondo: #F3F3F3;
--colorAlert: #E21111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  text-decoration: none;
  font-family: Roboto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body{
  color: var(--colorFondo);
}